.logo-textless{
    height: 50px; 
    width: auto;
}
.custom-danger {
    background-color: red !important;
    border-color: darkred;
}
.custom-back {
    background-color: rgb(31, 144, 0) !important;
    border-color: rgb(3, 66, 1);
}